body{
background-color: #00FA9A;
}
h1{
color: white;
text-align: center;
}
h2{
  color: blue;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
  background-color: gray;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14 px 16 px;
  text-decorations: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
p{
font-family: Verdana, Geneva, Apple Chancery;
font-size: 20 px;
color: gray;
}
